.banner {
    height: 340px;
    background: linear-gradient(180deg, rgba(0, 0, 0, 0) 41.15%, rgba(0, 0, 0, 0.8) 100%), url(../img/Hero.jpeg) center / cover no-repeat;

}

.banner-text {
    width: 100%;
    height: auto;
    padding: 32px 10%;
}

.banner-title {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 52px;
    line-height: 61px;
}

.banner-descripcion {
    color: #FFFFFF;
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;
}

.btn-banner {
    color: #FFFFFF;
    background: #2A7AE4;
    width: 129px;
    height: 51px;
    border-style: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}

.btn-banner a {
    color: #FFFFFF;
    width: 129px;
    height: 51px;
    border-style: none;
    text-decoration: none;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 19px;
}